.searchBar{
  display: flex;
  margin: 2em 0;
}

.searchOptionsBar{
  display: flex;
}

.searchOptionsBar > .markyTag{
  position: absolute;
  left:30%;
}

.searchOptionsBar > .markyTag > i.icon{
  margin: .2em 0 0 .2em;
  cursor: pointer;
}

.searchBar > .ui.positive.button{
  margin-left: 1em;
}
