.searchBar{
  display: flex;
  margin: 2em 0;
}

.searchBar > .ui.positive.button{
  margin-left: 1em;
}

.searchOptionsBar{
  display: flex;
}

.searchOptionsBar > .markyTag{
  position: absolute;
  left:30%;
}

.searchOptionsBar > .markyTag > i.icon{
  margin: .2em 0 0 .2em;
  cursor: pointer;
}

.postList{
  padding: 3em 3em;
}

.postList> .ui.items > .item:hover{
  background-color: #e9e8e8;
}

.postList> .ui.items > .item .extra > .icon:not(:first-child){
  padding-left: .4em;
}
